/* Starter Code */

* {
  box-sizing: border-box;
  /*border: 1px solid purple;*/
}

.clearfix:after {
  display: table;
  clear: both;
  content: "";
}

body {
  background-color: #05000F;
  width: 100%;
}

/*-----------------------------*/
/* Navigation/Header Section*/
/*-----------------------------*/

#sticky {
  display: none;
  width: 100%;
  position: fixed;
  font-size: 1em;
  top: 0;
  z-index: 1;
  opacity: .5;
}

#hamburger {
  width: 100%;
  text-align: right;
  padding-right: 1em;
  z-index: 2;
  position: fixed;
  top: 1em;
  color: white;
  display: block;
  font-size: 2em;
  opacity: .7;
}

header {
  height: 100vh;
  width: 100%;
}

nav, header {
  text-align: right;
}

nav a {
  text-decoration: none;
  color: #d6e1e7;
}

nav ul li {
  display: inline-block;
  text-align: center;
  padding: .5em 5em 0 0;
}

ul {
  color: #d6e1e7;
  line-height: 1.5em;
  z-index: 0;
}

header img {
  position: relative;
  opacity: .6;
  filter: grayscale(200%);
  background: rgba(255, 0, 240, 0.5);
  width: 100%;
  z-index: -1;
  top: 0;
  margin-bottom:15em;
  height: 100vh;
  top: 0;
}

header h1 {
  position: fixed;
  text-align: left;
  color: white;
  font-family: 'Cinzel';
  color: #d6e1e7;
  letter-spacing: 1em;
  font-weight: bold;
  font-size: 2.2em;
  width: 60%;
  top: 4em;
  left: 1em;
}

/*-----------------------------*/
/* About Section*/
/*-----------------------------*/

h2 {
  font-family: 'Cinzel';
  color: #d6e1e7;
  font-size: 1.8em;
  text-align: center;
  opacity: 1;
  background-color: #2f4556;
  letter-spacing: 1em;
  margin-bottom: 3em;
}

#about, #media {
  display: flex;
  flex-direction: row;
  width: 100%;;
  z-index: 6;
}

#about {
  padding-bottom: 10em;
  margin: 2em auto 0;
  text-align: center;
}

#images {
  display: flex;
  flex-direction: column;
  width: 50%;
}

#mug {
  width: 66%;
  height: 65%;
  margin: 2em auto 1em auto;
  border-radius: 6px;
}

.fadeScroll {
  color: white;
  width: 55%;
  margin: 1em auto;
  float:left;
  opacity: .8;
}

.fadeScroll i {
  font-size: 3em;
}

.fadeScroll img {
  margin: 0 auto;
  width: 3em;
  height: 3em;
}


#about p {
  color: #d6e1e7;
  width: 55%;
  line-height: 1.5em;
  font-size: 1.5em;
  padding-top: 3em;
  padding-right: 4em;
  line-height: 1.6em;
}


/*-----------------------------*/
/* Project Section*/
/*-----------------------------*/

#projects {
  padding-bottom: 15em;
  display: flex;
  flex-direction: column;
  /*margin: .5em auto;*/
  margin: 0 auto;
}

#projects img {
  position: relative;
  padding: 1.2em;
  width: 100%;
  opacity: .6;
  text-align: center;
  margin: 0 auto;
}
/*
#col1, #col2, #col3 {
  width: 32%;
  margin: 1em auto;
}

#col1 {
  float: left;
}

#col3 {
  float: right;
}
/**/
/*#projects span {
  font-size: 1em;
  width: 100%;
  margin: 0 auto;
  padding-top: 5em;
  padding-left: 2.5em;
  position: absolute;
}*/

.slickGallery {
  width: 80%;
  margin: 0 auto;
}

.slickGallery img {
  margin: 0 auto;
  width: 10em;
  height: 15em;
}

#projects p {
  font-size: 1.5em;
  width: 80%;
  text-align: center;
  color: #d6e1e7;
  margin: 3em auto;;
  line-height: 1.6em
}

/*-----------------------------*/
/* API Section*/
/*-----------------------------*/

#space {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  height: 130vh;
  padding-bottom: 18em;
  color: #d6e1e7;
}

#spaceDesc {
  width: 45%;
  float: left;
  margin: 0 auto;
}

#spaceHalf {
  width: 55%;
  float: right;
  margin: 0 auto;
}

#space h1 {
  font-size: 2em;
}

#space h3 {
  font-size: 1.5em;
  padding-bottom: .5em;
}

#space h1, #space h3{
  color: #d6e1e7;
  width: 100%;
  margin: 0 auto;
  text-decoration: underline;
}

#space p {
  width: 90%;
  font-size: 1.5em;
  padding-left: 1em;
  text-align: center;
  margin: 0 auto;
  padding-top: 2em;
  line-height: 1.3em;
}

#spacePic {
  width: 90%;
  float: right;
  padding: 0 3em;
  opacity: .8;
}


/*-----------------------------*/
/* Info Section*/
/*-----------------------------*/

#info {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding-bottom: 15em;
}

#contact {
  display: flex;
  flex-direction: column;
  margin: .5em auto;
  padding: .3em;
}

.box {
  font-size: 1.2em;
  width: 60%;
  float: left;
}

#first, #last, #email, #text, #submit {
  font-family: 'Cinzel';
  margin: .6em;
  background-color: ;
  font-size: 1.2em;
  background-color: #05000F;
  border: .5px #d6e1e7 solid;
  color: #d6e1e7;
  padding-left: .5em;
  padding-top: .2em;
}

#text {
  height: 40vh;
  padding-top: .5em;
}

#submit {
  font-size: 1em;
}

#secondHalf {
  float: right;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

#secondHalf img {
  float: right;
  height: 18em;
  padding-right: 5em;
  margin: -1em auto;
  opacity: .15;
}

#secondHalf i {
  font-size: 20em;
  color: #d6e1e7;
  float: right;
  opacity: .4;
  position: relative;
}

#secondHalf i:hover {
  opacity: 1;
  transition: 3s;
  color: #7c0303;
}
/*-----------------------------*/
/* Media Section*/
/*-----------------------------*/

#media {
  position: absolute;
  margin-top: 3.8em;
  width: 80%;
  float: right;
  opacity: .8;
}

#media a {
  width: 15%;
  margin-left: 6em;
  text-align: right;
  font-size: 1.8em;
}

#media img {
  float: left;
  height: 2em;
  padding: .5em;
  margin: 2em .5em;
}

/*-----------------------------*/
/* Testimonials Section*/
/*-----------------------------*/

#testimonials {
  height: 60vh;
  color: #d6e1e7;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

#testimonials h3 {
  font-size: 2em;
  text-align: center;
  width: 80%;
}

#testimonials h4 {
  /*width: 80%;*/
  font-size: 1.6em;
  text-align: center;
  margin-left: 20em;
}

/*-----------------------------*/
/* Footer Section*/
/*-----------------------------*/

footer {
  margin: 0 auto;
}

footer h1 {
  position: absolute;
  text-align: left;
  color: white;
  font-family: 'Cinzel';
  color: #2f4556;
  letter-spacing: 1em;
  font-weight: bold;
  font-size: 2.2em;
  width: 80%;
  left: 1.1em;
  z-index: 1;
}

footer img {
  position: relative;
  opacity: .7;
  filter: grayscale(200%);
  background: rgba(255, 0, 240, 0.5);
  width: 100%;
  z-index: -1;
  height: 100vh;
}

span {
  color: white;
}

/*-----------------------------*/
 /* Image Blur */
/*https://codepen.io/upslon/pen/XKjZJo*/
/*-----------------------------*/

.blur{
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
  opacity: 0.6;
}

/*-----------------------------*/
 /* Media Query */
/*-----------------------------*/

@media screen and (max-width: 1000px){
  header h1, footer h1 {
    font-size: 2.6em;
    text-align: center;
  }

  h2 {
    font-size: 1.5em;
    margin-bottom: 1.5em;
  }

  #about p {
    font-size: 1.2em;
  }

}

@media screen and (max-width: 955px){
  header img {
    margin-bottom: 4em;
  }
  #space {
    display: flex;
    flex-direction: column;
    margin-bottom: 10em;
  }
  #spaceDesc {
    width: 100%;
  }
  #spaceVid {
    height: 320px;
    padding-top: 1em;
  }
  #media img {
    margin-right: 2em;
    float: center;
}

@media screen and (max-width: 900px){
  #hamburger {
    font-size: 1.2em;
  }
  header h1, footer h1 {
    font-size: 2em;
    letter-spacing: .8em;
    left: 1em;
    right: 1em;
    width: 90%;
    margin: 0 auto;
  }

  h2 {
    font-size: 1.6em;
  }

  h2:last-of-type, h2:nth-of-type(3) {
    letter-spacing: .3em;
  }

  #spaceDesc p {
    /*font-size: .8em;*/
  }

  #media img {
  height: 1.7em;
  padding: .5em;
  margin: 2em .5em;
  }

  #projects p {
    font-size: 1.2em;
  }
}

@media screen and (max-width: 720px){
  header h1, footer h1 {
    font-size: 2.0em;
    text-align: center;
    letter-spacing: .3em;
    right: 0;
    left: 0;
    width: 98%;
    margin: 0 auto;
  }

  header img {
    height: 50vh;
  }

  h2 {
    margin-bottom: 3em;
  }

  nav, header {
  text-align: center;
  }

  #hamburger {
    width: 100%;
    right: .8em;
    top: 1.8em;
    opacity: .5;
  }

  #sticky {
    font-size: .6em;
    text-align: center;
  }

  nav ul li {
    padding: .5em 1em 0 0;
  }

  #about {
    flex-direction: column;
    padding-bottom: 0;
  }

  #about, #projects {
    /*padding-bottom: 5.5em;*/
    height: 100vh;
  }

  #mug {
    width: 80%;
  }

  #images, .fadeScroll {
    width: 100%;
    margin: 0 auto;
  }

  .fadeScroll img {
    width: 1.9em;
    height: 1.9em;
  }

  .fadeScroll i {
    font-size: 2em ;
  }

  #about p, #projects p, p, .slickGallery {
    padding-right: 0;
    width: 90%;
    margin: 0 auto;
    font-size: 1em;
  }

  #projects p {
    margin-top: 3em;
  }

  .slickGallery img{
    height: 10em;
    padding: 0;
  }

  #space {
    height: 100vh;
    padding-bottom: 5em;
    margin: 0 auto;
    width: 100%;
  }

  #space h1 {
  font-size: 1.2em;
  padding-bottom: 2em;
}

  #space h3 {
    font-size: 1em;
    padding-bottom: .5em;
  }

  #spaceDesc p {
    font-size: 0;
    display: none;
    float: center;
  }

  #spaceHalf {
    width: 100%;
    float: center;
  }

  iframe {
    height: 400px;
    width: 300px;
  }

  #spacePic {
    float: center;
  }

  #testimonials {
    height: 40vh;
  }

  #testimonials h3 {
    font-size: 1.5em;
    text-align: center;
    margin: 0 auto;
  }

  #testimonials h4 {
    font-size: 1em;
    text-align: center;
    margin: 2em auto;
    width: 100%;
  }

  #info {
  display: flex;
  flex-direction: column;
  font-size: .8em;
  padding-bottom: 5.5em;
  height: 100vh;
  }

  .box {
  font-size: .8em;
  width: 100%;
  float: center;
  }

  #text {
  height: 25vh;
  padding-top: .5em;
  }
/*
  #secondHalf img {
  float: right;
  height: 4.5em;
  padding-right: 5em;
  margin: 0em auto;
  opacity: .15;
  }*/

  #secondHalf img {
    height: 9em;
  }

  #secondHalf i {
    font-size: 10em;
  }

  nav img {
    height: 60vh;
  }

  #media {
    /*display: flex;*/
    flex-direction: column;
    margin: 3em 0 0 1.5em;
    width: 100%;
  }

  #media a {
    font-size: 1em;
    padding: 0;
  }

  #media img {
    float: center;
    height: 2.4em;
    width: 6em;
    margin: 0.3em 2em;
    opacity: 1;
  }
  span {
    font-size: .5em;
  }
}


