/* Starter Code */

* {
  box-sizing: border-box;
  /*border: 1px solid purple;*/
}

.clearfix:after {
  display: table;
  clear: both;
  content: "";
}

body {
  background-color: #05000F;
}

/*-----------------------------*/
/* Navigation/Header Section*/
/*-----------------------------*/

#sticky {
  width: 100%;
  position: fixed;
  font-size: 1em;
  top: 0;
  z-index: 1;
  opacity: .7;
}

nav, header {
  text-align: right;
}

a {
  text-decoration: none;
  color: #d6e1e7;
}

nav ul li {
  display: inline-block;
  text-align: center;
  padding: .5em 5em 0 0;
}

ul {
  color: #d6e1e7;
  line-height: 1.5em;
  z-index: 0;
}

header img {
  position: relative;
  opacity: .6;
  filter: grayscale(200%);
  background: rgba(255, 0, 240, 0.5);
  width: 100%;
  z-index: -1;
  top: 0;
  margin-bottom:25em;
}

header h1 {
  position: fixed;
  text-align: right;
  color: white;
  font-family: 'Cinzel';
  color: #d6e1e7;
  letter-spacing: 1em;
  font-weight: bold;
  font-size: 2.2em;
  width: 100%;
  top: 4em;
  right: 1em;
}

/*-----------------------------*/
/* About Section*/
/*-----------------------------*/

#about, #media {
  display: flex;
  flex-direction: row;
  width: 100%;;
  margin: 2em auto 0;
  text-align: center;
  z-index: 6;
}

#images {
  display: flex;
  flex-direction: column;
  width: 50%;
}


#mug {
  width: 60%;
  height: 65%;
  margin: 2em auto 1em auto;
  border-radius: 6px;
}


h2 {
  font-family: 'Cinzel';
  color: #d6e1e7;
  font-size: 1.8em;
  text-align: center;
  opacity: 1;
  background-color: #2f4556;
  /*text-decoration: underline;*/
  letter-spacing: 1em;

}

.fadeScroll {
  color: white;
  width: 55%;
  margin: 1em auto;
  float:left;
  opacity: .8;
}

.fadeScroll i {
  font-size: 3em;
}

.fadeScroll img {
  margin: 0 auto;
  width: 3em;
  height: 3em;
}


p {
  color: #d6e1e7;
  width: 55%;
  line-height: 1.5em;
  font-size: 1.5em;
  padding-top: 5em;
  padding-right: 4em;
}

/*-----------------------------*/
/* Media Section*/
/*-----------------------------*/

#media {
  /*margin-bottom:30em;*/
  background-color: #abb7bd;
  margin-bottom: 15em;
  margin-top: 0;
}

#media a {
  width: 100%;
  padding-top: 0;
  text-align: center;
  color: white;
  font-size: 2.6em;
  background-color: #abb7bd;
  margin: .3em auto;
}

#media img {
  width: 30%;
  margin: .12em auto;
}

/*-----------------------------*/
/* Project Section*/
/*-----------------------------*/

#projects {
  padding-bottom: 15em;
  display: flex;
  flex-direction: row;
  margin: .5em auto;
}

#projects img {
  padding: 1.2em;
  width: 100%;
  opacity: .6;
}

#projects img:hover {
  border: 2px solid #d8b2d8;
  opacity: 1;
  transition: 1.5s;
}

#col1, #col2, #col3 {
  width: 32%;
  /*margin: 1em auto;*/
}

#col1 {
  float: left;
}

#col3 {
  float: right;
}

/*h2:last-of-type {
  font-family: 'Cinzel';
  color: #d6e1e7;
  font-size: 1.6em;
  text-align: left;
  padding-left: 13em;
  opacity: .6;
  background-color: #0E1A1E;;
}*/

#contact {
  display: flex;
  flex-direction: column;
  margin: .5em auto;
  padding: .3em;
}

/*-----------------------------*/
/* API Section*/
/*-----------------------------*/

#space {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  height: 100vh;
  padding-top: 5em;
  padding-bottom: 20em;
}

#spaceDesc {
  width: 45%;
  float: left;
  margin: 0 auto;
}

#spaceHalf {
  width: 55%;
  float: right;
  margin: 0 auto;
}

#space h1, #space h3{
  color: white;
  width: 100%;
  margin: 0 auto;
}

#spaceDesc p {
  width: 100%;
  font-size: 1.1em;
  padding-left: 2.5em;
  text-align: center;
  margin: 0 auto;
}

#spacePic {
  width: 100%;
  float: right;
  padding: 0 3em;
  opacity: .8;
}


/*-----------------------------*/
/* Info Section*/
/*-----------------------------*/

#info {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding-bottom: 15em;
}

.box {
  font-size: 1.2em;
  width: 60%;
  float: left;
}

#first, #last, #email, #text, #submit {
  font-family: 'Cinzel';
  margin: .6em;
  background-color: ;
  font-size: 1.2em;
  background-color: #05000F;
  border: .5px #d6e1e7 solid;
  color: #d6e1e7;
  padding-left: .5em;
  padding-top: .2em;
}

#text {
  height: 40vh;
  padding-top: .5em;
}

#submit {
  font-size: 1em;
}

#secondHalf {
  float: right;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

#secondHalf img {
  float: right;
  height: 18em;
  padding-right: 5em;
  margin: -1em auto;
  opacity: .15;
}

#secondHalf i {
  font-size: 20em;
  color: #d6e1e7;
  float: right;
  opacity: .4;
}

#secondHalf i:hover {
  opacity: 1;
  transition: 3s;
  color: #7c0303;
}

/*-----------------------------*/
/* Footer Section*/
/*-----------------------------*/

footer {
  margin: 0 auto;
}

footer h1 {
  position: absolute;
  text-align: left;
  color: white;
  font-family: 'Cinzel';
  color: #333137;
  letter-spacing: 1em;
  font-weight: bold;
  font-size: 2.2em;
  width: 100%;
  left: 1.1em;
  z-index: 1;
}

footer img {
  position: relative;
  opacity: .6;
  filter: grayscale(200%);
  background: rgba(255, 0, 240, 0.5);
  width: 100%;
  z-index: -1;
  height: 80vh;
}

span {
  color: white;
}
