/* Starter Code */

* {
  box-sizing: border-box;
  /*border: 1px solid purple;*/
}

.clearfix:after {
  display: table;
  clear: both;
  content: "";
}

body {
  background-color: #05000F;
}

#sticky {
  width: 100%;
  position: fixed;
  font-size: 1em;
  top: 0;
  z-index: 1;
  opacity: .7;
}

nav, header {
  text-align: right;
}

a {
  text-decoration: none;
  color: #d6e1e7;
}

nav ul li {
  display: inline-block;
  text-align: center;
  padding: .5em 5em 0 0;
}

ul {
  color: #d6e1e7;
  line-height: 1.5em;
}

header img {
  position: relative;
  opacity: .6;
  filter: grayscale(200%);
  background: rgba(255, 0, 240, 0.5);
  width: 100%;
  z-index: -1;
  top: 0;
  margin-bottom:25em;
}

header h1 {
  position: fixed;
  text-align: right;
  color: white;
  font-family: 'Cinzel';
  color: #d6e1e7;
  letter-spacing: 1em;
  font-weight: bold;
  font-size: 2.2em;
  width: 100%;
  top: 4em;
  right: 1em;
}

#about, #media {
  display: flex;
  flex-direction: row;
  width: 100%;;
  margin: 2em auto;
  text-align: center;

}

#media {
  opacity: .4;
  margin-bottom:30em;
  padding-top: 2em;
  background-color: #0E1A1E;
}

h2 {
  font-family: 'Cinzel';
  color: #d6e1e7;
  font-size: 1.6em;
  text-align: center;
  opacity: .6;
  background-color: #0E1A1E;
}

.fadeScroll {
  color: white;
  width: 33%;
  opacity: .5;
  margin: 2em 2em 0 3em;
}

.fadeScroll:hover {
  opacity: 1;
  transition: 0.5s;
}

.fadeScroll i {
  font-size: 18em;
}

p {
  padding-left: 2em;
  color: #d6e1e7;
  width: 55%;
  line-height: 1.5em;
  font-size: 1.5em;
  padding-top: 4em;
}

#media i {
  width: 100%;
  padding-top: 0;
  text-align: center;
  color: white;
  margin: 0 2em 2em 2em;
  font-size: 2.6em;
  opacity: 1;
}

#media i:hover {
  opacity: 1;
  transition: 0.5s;
}


#projects {
  padding-bottom: 35em;
  display: flex;
  flex-direction: row;
  margin: .5em auto;
}

#projects img {
  padding: 1.2em;
  width: 100%;
  opacity: .6;
  /*border: 1px solid #d6e1e7;*/
}

#projects img:hover {
  opacity: 1;
  transition: 1.5s;
}

#col1, #col2, #col3 {
  width: 32%;
  /*margin: 1em auto;*/
}

#col1 {
  float: left;
}

#col3 {
  float: right;
}

/*h2:last-of-type {
  font-family: 'Cinzel';
  color: #d6e1e7;
  font-size: 1.6em;
  text-align: left;
  padding-left: 13em;
  opacity: .6;
  background-color: #0E1A1E;;
}*/

#contact {
  display: flex;
  flex-direction: column;
  margin: .5em auto;
  padding: .3em;
}

#info {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding-bottom: 25em;
}

.box {
  font-size: 1.2em;
  width: 60%;
  float: left;
}

#first, #last, #email, #text, #submit {
  font-family: 'Cinzel';
  margin: .6em;
  background-color: ;
  font-size: 1.2em;
  background-color: #05000F;
  border: .5px #d6e1e7 solid;
  color: #d6e1e7;
  padding-left: .5em;
  padding-top: .2em;
}

#text {
  height: 40vh;
  padding-top: .5em;
}

#submit {
  font-size: 1em;
}

#secondHalf {
  float: right;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

#secondHalf img {
  float: right;
  height: 18em;
  padding-right: 5em;
  margin: -1em auto;
  opacity: .15;
}

#secondHalf i {
  font-size: 20em;
  color: #d6e1e7;
  float: right;
  opacity: .4;
}

#secondHalf i:hover {
  opacity: 1;
  transition: 3s;
  color: #7c0303;
}

footer {
  margin: 0 auto;
}

footer h1 {
  position: absolute;
  text-align: left;
  color: white;
  font-family: 'Cinzel';
  color: #333137;
  letter-spacing: 1em;
  font-weight: bold;
  font-size: 2.2em;
  width: 100%;
  left: 1.1em;
}

footer img {
  position: relative;
  opacity: .6;
  filter: grayscale(200%);
  background: rgba(255, 0, 240, 0.5);
  width: 100%;
  z-index: -1;
  bottom: 0;
  heigth: 100vh;
}
